
<h1 style="text-align:center;color:white;background-color:red">Enter Record Detail</h1>

<%= form_with model: @record do |f| %>
  <div class="container-sm">
    
  
    <div class="row mb-3 mt-5">
    
      <strong><%= f.label :enter_name %></strong>
      <%= f.text_field :name, placeholder: "Enter Author Name", autofocus: true %>
    
    </div>

    <div class="row mb-3">
      <strong><%= f.label :address %></strong>
      <%= f.text_field :address, placeholder: "Enter about Author", autofocus: true %>
    
    </div>

    <div class="column mb-3">
      <strong><%= f.label :enter_date_of_birth %></strong>
      <%= f.date_field :age %>
    
    </div>

  <%= f.submit "submit" %>
  </div>

  
  
<%end%>